$main-color:#4C4CFF;
$text-color-light: #fafafa;
$border-color: #D3D3D3;
$neutral-color: #fff;
$danger-color: #FF0000;
$background-color: #7f7fff;

// metrics
$metrics-xxl: 120px;
$metrics-xl: 60px;
$metrics-l: 40px;
$metrics-m: 24px;
$metrics-s: 16px;
$metrics-xs: 8px;